<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://192.168.99.48:3306/smitravel?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">P@ssw0rd</property>
    
    <mapping resource="resource/hibernate/Staff.hbm.xml"/>
           <mapping resource="resource/hibernate/Role.hbm.xml"/>
           <mapping resource="resource/hibernate/MAirline.hbm.xml"/>
           <mapping resource="resource/hibernate/MCity.hbm.xml"/>
           <mapping resource="resource/hibernate/MCountry.hbm.xml"/>
           <mapping resource="resource/hibernate/MCurrency.hbm.xml"/>
           <mapping resource="resource/hibernate/MFlight.hbm.xml"/>
           <mapping resource="resource/hibernate/MTicketType.hbm.xml"/>
           <mapping resource="resource/hibernate/Place.hbm.xml"/>
           <mapping resource="resource/hibernate/MPlacestatus.hbm.xml"/>
           <mapping resource="resource/hibernate/RoleMapping.hbm.xml"/>
           <mapping resource="resource/hibernate/Function.hbm.xml"/>
           <mapping resource="resource/hibernate/BookingFlight.hbm.xml"/>
           <mapping resource="resource/hibernate/BookingPassenger.hbm.xml"/>
           <mapping resource="resource/hibernate/BookingPnr.hbm.xml"/>
           <mapping resource="resource/hibernate/BookingAirline.hbm.xml"/>
           <mapping resource="resource/hibernate/AirticketAirline.hbm.xml"/>
           <mapping resource="resource/hibernate/AirticketDesc.hbm.xml"/>
           <mapping resource="resource/hibernate/AirticketFlight.hbm.xml"/>
           <mapping resource="resource/hibernate/AirticketPassenger.hbm.xml"/>
           <mapping resource="resource/hibernate/AirticketPnr.hbm.xml"/>
           <mapping resource="resource/hibernate/Agent.hbm.xml"/>
           <mapping resource="resource/hibernate/Customer.hbm.xml"/>
           <mapping resource="resource/hibernate/MAccterm.hbm.xml"/>
           <mapping resource="resource/hibernate/MBranch.hbm.xml"/>
           <mapping resource="resource/hibernate/MInitialname.hbm.xml"/>
           <mapping resource="resource/hibernate/Master.hbm.xml"/>
           <mapping resource="resource/hibernate/MItemstatus.hbm.xml"/>
           <mapping resource="resource/hibernate/MPricecategory.hbm.xml"/>
           <mapping resource="resource/hibernate/MGalileo.hbm.xml"/>
           <mapping resource="resource/hibernate/MAirport.hbm.xml"/>
           <mapping resource="resource/hibernate/Billable.hbm.xml"/>
           <mapping resource="resource/hibernate/BillableDesc.hbm.xml"/>
           <mapping resource="resource/hibernate/MAccpay.hbm.xml"/>
           <mapping resource="resource/hibernate/Passenger.hbm.xml"/>
           <mapping resource="resource/hibernate/MBilltype.hbm.xml"/>
           <mapping resource="resource/hibernate/MBookingstatus.hbm.xml"/>   
           <mapping resource="resource/hibernate/MAmadeus.hbm.xml"/>   
           <mapping resource="resource/hibernate/Hotel.hbm.xml"/>   
           <mapping resource="resource/hibernate/MProductType.hbm.xml"/>   
           <mapping resource="resource/hibernate/Product.hbm.xml"/>   
           <mapping resource="resource/hibernate/ProductDetail.hbm.xml"/>   
           <mapping resource="resource/hibernate/MDepartment.hbm.xml"/>   
           <mapping resource="resource/hibernate/MainMenu.hbm.xml"/>   
           <mapping resource="resource/hibernate/AirticketBooking.hbm.xml"/>   
           <mapping resource="resource/hibernate/HotelBooking.hbm.xml"/>   
           <mapping resource="resource/hibernate/HotelPassenger.hbm.xml"/>   
           <mapping resource="resource/hibernate/HotelRequest.hbm.xml"/>   
           <mapping resource="resource/hibernate/HotelRoom.hbm.xml"/>   
           <mapping resource="resource/hibernate/MMeal.hbm.xml"/>  
           <mapping resource="resource/hibernate/ProductPriceDetail.hbm.xml"/>  
           <mapping resource="resource/hibernate/BookingView.hbm.xml"/>
           <mapping resource="resource/hibernate/OtherBooking.hbm.xml"/>
           <mapping resource="resource/hibernate/BookSummary.hbm.xml"/>  
           <mapping resource="resource/hibernate/LandBooking.hbm.xml"/>
           <mapping resource="resource/hibernate/LandItinerary.hbm.xml"/>
           <mapping resource="resource/hibernate/Daytour.hbm.xml"/>  
           <mapping resource="resource/hibernate/DaytourExpense.hbm.xml"/>
           <mapping resource="resource/hibernate/DaytourPrice.hbm.xml"/>
           <mapping resource="resource/hibernate/AgentComission.hbm.xml"/>
           <mapping resource="resource/hibernate/AgentTourComission.hbm.xml"/>
           <mapping resource="resource/hibernate/DaytourBooking.hbm.xml"/>
           <mapping resource="resource/hibernate/DaytourBookingPrice.hbm.xml"/>
           <mapping resource="resource/hibernate/Coupon.hbm.xml"/>
           <mapping resource="resource/hibernate/ProductComission.hbm.xml"/>
           <mapping resource="resource/hibernate/TourOperationDesc.hbm.xml"/>
           <mapping resource="resource/hibernate/TourOperationDriver.hbm.xml"/>
           <mapping resource="resource/hibernate/TourOperationExpense.hbm.xml"/>
           <mapping resource="resource/hibernate/TransferJob.hbm.xml"/>
           <mapping resource="resource/hibernate/PackageTour.hbm.xml"/>
           <mapping resource="resource/hibernate/PackagePrice.hbm.xml"/>
           <mapping resource="resource/hibernate/PackageItinerary.hbm.xml"/>
           <mapping resource="resource/hibernate/MDefaultData.hbm.xml"/>
           <mapping resource="resource/hibernate/PackageCity.hbm.xml"/>
           <mapping resource="resource/hibernate/MBank.hbm.xml"/>
           
           <mapping resource="resource/hibernate/MPaymentDoctype.hbm.xml"/>
           <mapping resource="resource/hibernate/MPaytype.hbm.xml"/>
           <mapping resource="resource/hibernate/MStockStatus.hbm.xml"/>
           <mapping resource="resource/hibernate/PaymentDetailWendy.hbm.xml"/>
           <mapping resource="resource/hibernate/PaymentWendy.hbm.xml"/>
           <mapping resource="resource/hibernate/Stock.hbm.xml"/>
           <mapping resource="resource/hibernate/StockDetail.hbm.xml"/>
           
           <mapping resource="resource/hibernate/MAirlineAgent.hbm.xml"/>
           <mapping resource="resource/hibernate/PaymentAirticket.hbm.xml"/>
           <mapping resource="resource/hibernate/PaymentAirticketFare.hbm.xml"/>
           <mapping resource="resource/hibernate/PaymentAirticketRefund.hbm.xml"/>
           <mapping resource="resource/hibernate/RefundAirticket.hbm.xml"/>
           <mapping resource="resource/hibernate/RefundAirticketDetail.hbm.xml"/>
           <mapping resource="resource/hibernate/TicketFareAirline.hbm.xml"/>
           <mapping resource="resource/hibernate/AccountCode.hbm.xml"/>
           <mapping resource="resource/hibernate/MFlightservice.hbm.xml"/>
           <mapping resource="resource/hibernate/PaymentAirCredit.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
