<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c l - %m%n" />
		</layout>
	</appender>
	
	<appender name="hibernate" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
<!--		<param name="File" value="C:/Users/icnb1402040/Desktop/logs/hibernate.log" />-->
		<param name="File" value="C:/Users/Jittima/Desktop/SMI Travel Pro/SMI_Travel/logs/hibernate.log" />
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<param name="Threshold" value="debug" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: - %m%n" />
		</layout>
	</appender>
	
	<appender name="spring" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
<!--		<param name="File" value="C:/Users/icnb1402040/Desktop/logs/spring.log" />-->
                <param name="File" value="C:/Users/Jittima/Desktop/SMI Travel Pro/SMI_Travel/logs/spring.log" />
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<param name="Threshold" value="debug" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: - %m%n" />
		</layout>
	</appender>
	<appender name="pratz" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
                <param name="File" value="C:/Users/Jittima/Desktop/SMI Travel Pro/SMI_Travel/logs/smi.log" />
		<!--<param name="File" value="C:/Users/icnb1402040/Desktop/logs/pratz.log" />-->
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<param name="Threshold" value="debug" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: - %m%n" />
		</layout>
	</appender>
	
	<!-- Application Loggers -->
	<logger name="com.smi.travel">
		<level value="debug" />
		<appender-ref ref="pratz" />
	</logger>
	
	<logger name="org.springframework">
		<level value="error" />
		<appender-ref ref="spring" />
	</logger>
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="error" />
		<appender-ref ref="spring" />
	</logger>

	<logger name="org.springframework.beans">
		<level value="error" />
		<appender-ref ref="spring" />
	</logger>

	<logger name="org.springframework.context">
		<level value="error" />
		<appender-ref ref="spring" />
	</logger>

	<logger name="org.springframework.web">
		<level value="debug" />
		<appender-ref ref="spring" />
	</logger>



	<!-- [Hibernate log] -->
	<logger name="org.hibernate">
		<level value="error" />
		<appender-ref ref="hibernate" />
	</logger>
	
	<!-- [SQL log] -->
	<logger name="java.sql">
		<level value="error" />
		<appender-ref ref="hibernate" />
	</logger>

	<!-- Root Logger -->
	<root>
		<level value="ERROR" />
		<appender-ref ref="console" />
	</root>

</log4j:configuration>
