/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 19, 2015, 11:51:46 AM
    Author     : Kanokporn
*/

#loading {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #BDBDBD;
    z-index: 99;
    text-align: center;
}

#loading-image {
    position: absolute;
    top: 45%;
    left: 45%;
    width:5%;
    height: 5%;
    z-index: 50;
}

#loading-test{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.1); /*dim the background*/
}