body{
    padding-left: 5px;
    padding-right:  5px;
    padding-top:0px;
    padding-bottom:0px;
    margin:0px;
    min-width: 1280px; //set non-responsive 

}



.container {
    width: 1280px; //set non-responsive 
    max-width: none !important;
}

.container2 {  
    width: 1460px; //set non-responsive 
    max-width: none !important;
}

.datatable-header{
    background-color: #D3D6FF;
    color: #000;
}
#MasterOther_wrapper  {
    min-height: 150px;
}

#MasterLand_wrapper{
    min-height: 150px;
}

#StockSummary_wrapper{
    min-height: 60px;
}

#StockTable_wrapper{
    min-height: 60px;
}

#MasterItinerary_wrapper{
    min-height: 150px;
}

#BookList_wrapper{
    min-height: 150px;
}

#MDaytour_wrapper{
    min-height: 180px;
}

#TicketFareTable_wrapper{
    min-height: 100px;
}

#RefundTicketTable_wrapper{
    min-height: 0px;
}

#ListTicketNoDuplicateTable_wrapper{
    min-height: 0px;
}

table.display , table.display th , table.display th tr, table.display  tr td{
    border: solid 1px #AAA; 
}

table.display  tr.odd td.sorting_1{
    background-color :#FFF;
}

table.display  tr.even td.sorting_1{
    background-color :#F2F2F2;
}

table.display tr.odd.row_selected td.sorting_1{
    background-color :#9FAFD1; 
}


table.display tr.even.row_selected td.sorting_1{
    background-color :#9FAFD1; 
}

table.displayblackcolor , table.displayblackcolor th , table.displayblackcolor th tr, table.displayblackcolor  tr td{
    border: solid 1px #000; 
}

table.displayblackcolor  tr.odd td.sorting_1{
    background-color :#FFF;
}

table.displayblackcolor  tr.even td.sorting_1{
    background-color :#F2F2F2;
}

table.displayblackcolor tr.odd.row_selected td.sorting_1{
    background-color :#9FAFD1; 
}


table.displayblackcolor tr.even.row_selected td.sorting_1{
    background-color :#9FAFD1; 
}

.textpadding tr td{
    padding:  2px 2px;
    font-size: 13px;
}

.dataList{
    border-color: #D0D0D0;
    border: solid 1px;
}

.dataList > td{
    border-color: #D0D0D0;
    border: solid 1px;
}

th{
    text-align: center;
}

tr.odd {
    background-color: #FFF;
}

tr.even{
    background-color: #F2F2F2;
}

hr{
    margin-top: 10px;
    margin-bottom: 10px;
}

.editicon{
    color: orange;
    font-size:17px;
    cursor: pointer;
}

.deleteicon{
    color: red;
    font-size:17px;
    cursor: pointer;
}

.addicon{
    color: blue;
    font-size:17px;
    cursor: pointer;
}


.modal-header{
    background-color:  #0EA500;
    color: #fff;
    border: solid 1px;
    border-color: #0EA500;
    padding: 8px;
}

.modal-body{
    border: solid 1px;
    border-color: #0EA500;
}
.modal-footer{
    padding: 8px;
    border: solid 1px;
    border-color: #0EA500;
} 

.navbar{
    min-height: 45px;
}
.form-control{
    height : 30px;
    padding: 0 0 0 3px !important;
}
/*
.btn{
    padding : 3px;
}*/
.display{
    font-size: 13px;
}

.displayblackcolor{
    font-size: 13px;
}

td {
    padding: 0px 5px;
}

.navbar-inverse{
    background-color: #0EA500;
    border-color :#3d9970;
    color : #fff;
}
.navbar-inverse .navbar-nav>li>a{
    color : #fff;
}

.navbar-inverse .navbar-brand{
    color : #fff;
}
.footer-main{
    text-align: center;
    font: 13px Myriad,Helvetica,Tahoma,Arial,clean,sans-serif;
    font-weight: bold; 
    padding-top:3px;
    width:100%;
    height:20px;
    //position:absolute;
    bottom:40px;
    left:0;
}
.content-header {
    position: relative;
    padding:0px 15px 2px 20px;
}
.content-header > h1 {
    margin: 0;
    font-size: 21px;
}
.content-header > h1 > small {
    font-size: 15px;
    display: inline-block;
    padding-left: 4px;
    font-weight: 300;
}
.content-header > .breadcrumb {
    float: right;
    background: transparent;
    margin-top: 0px;
    margin-bottom: 0;
    font-size: 12px;
    padding: 0px 5px;
    position: absolute;
    top: 3px;
    right: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.content-header > .breadcrumb > li > a {
    color: #444;
    text-decoration: none;
}
.content-header > .breadcrumb > li > a > .fa,
.content-header > .breadcrumb > li > a > .glyphicon,
.content-header > .breadcrumb > li > a > .ion {
    margin-right: 5px;
}
.content-header > .breadcrumb > li + li:before {
    content: '>\00a0';
}
@media screen and (max-width: 767px) {
    .content-header > .breadcrumb {
        position: relative;
        margin-top: 5px;
        top: 0;
        right: 0;
        float: none;
        background: #efefef;
    }
}
.content-header {
    background: #fbfbfb;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus{
    background-color: #01C632;
}
.form-box {
    width: 360px;
    margin: 90px auto 0 auto;
    border-style: solid;
    border-width: 3px;
    border-color: #06700D;

}
.logo-img {
    border-style: solid;
    border-width: 3px;
    border-color: #06700D;
}
.form-box .header {
    /*
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    */
    background: #3d9970;
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.2);
    padding: 20px 10px;
    font-size: 26px;
    font-weight: 300;
    color: #fff;
}
.form-box .body,
.form-box .footer {
    padding: 0px 20px;
    background: #fff;
    color: #444;
}
.form-box .body > .form-group,
.form-box .footer > .form-group {
    margin-top: 20px;
}
.form-box .body > .form-group > input,
.form-box .footer > .form-group > input {
    border: #fff;
}
.form-box .body > .btn,
.form-box .footer > .btn {
    margin-bottom: 10px;
}
.form-box .footer {
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.panel  [class^="col-"]{
    /*padding-top: 5px;*/
}


.control-label {
    padding-top: 6px;
}

.panel-heading {
    padding: 5px 15px;
    border-bottom: 1px solid transparent;
    /* border-top-left-radius: 3px; */
    /* border-top-right-radius: 3px; */
}

.padding5{
    padding-bottom: 25px;
}

#ProductCostList_wrapper.dataTables_wrapper{
    min-height: 180px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
#effectivefromClass > i  {
    padding-left:  40px;
}

#effectivetoClass > i  {
    padding-left:  40px;
}

table .form-control{
    height: 20px !important;
    border-radius: 2px;
}

td div .selectize-input{
    height: 20px;
    min-height: 20px;
    padding-top: 0px;
    /*-webkit-appearance: menulist-button;*/
}

.tdcenter{
    text-align: center;
}

.tdright{
    text-align: right;
}
.money{
    text-align:right;
}

.tooltip-inner{
    max-width:200px;
    padding:3px 8px;
    color:#000;
    text-align:center;
    text-decoration:none;
    background-color:#FFDA65;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter:Alpha(Opacity=35); /* support: IE8 */
    background-image: none;
}

.ui-autocomplete { height: 250px; overflow-y: scroll; overflow-x: hidden;}

.input-error
{
   border-color: #a94442;
   -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.075);	
   box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.input-success
{
   border-color: #088A08;
   -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);	
   box-shadow: inset 0 1px 1px rgba(0,0,0,.075);

}

.panel > .wendyheader{
    color: #FFFFFF;
    background-color: #11BF00;
    border-color: #0E8F00;
}

.nav > .wendyheader{
    border-color: #0E8F00;
}

.wendyborder{
    border-color: #0E8F00;
}

.panel  > .outboundheader{
    color: #FFFFFF;
    background-color : #FF8003;
    border-color : #F55E00;
}

.outboundborder{
    border-color : #F55E00;
}

/*input:not([type]), input[type="text"]
{
    text-transform: uppercase;
}*/
